@using ONPA.WebApp.Data
@implements IDialogContentComponent<ConfirmationDialogAction>

<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Warning())" Color="Color.Warning" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentButton Appearance="Appearance.Accent" OnClick="@Confirm">Ok</FluentButton>
        <FluentButton Appearance="Appearance.Lightweight" OnClick="@Cancel">Anuluj</FluentButton>
    </FluentStack>
</FluentDialogFooter>

<FluentDialogBody>
    <p>@Content.ActionDescription</p>
</FluentDialogBody>

@code{
    [Parameter]
    public ConfirmationDialogAction Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private async Task Confirm()
    {
        Content.Confirmed = true;

        await Dialog.CloseAsync(Content);
    }

    private async Task Cancel()
    {
        Content.Confirmed = false;
        await Dialog.CloseAsync(Content);
    }

}