@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader Class="app-header">
        <FluentStack>
            <h1 class="logo">Online NonProfit Assistant</h1>

            <div class="links">

                <FluentDivider Style="height: auto;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
                <FluentButton IconStart="@(new Icons.Regular.Size20.ArrowExit())" Appearance="Appearance.Stealth">Wyloguj się</FluentButton>
            </div>
        </FluentStack>
    </FluentHeader>
    <FluentStack Orientation="Orientation.Horizontal" Width="100%" VerticalAlignment="VerticalAlignment.Top" Style="height: 100vh; margin-top:-10px">
        <div class="navigation-side">

            <FluentNavMenu Width="300" Collapsible="true" @bind-Expanded="@Expanded">
                          <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Start</FluentNavLink>
                <FluentNavGroup Icon="@(new Icons.Regular.Size20.PersonCircle())">
                    <TitleTemplate>Członkostwo</TitleTemplate>
                    <ChildContent>
                        <div style="padding: 0.25em;">
                        <FluentPersona Name="Application User"
                                       ImageSize="30px"
                                       Status="PresenceStatus.Available"
                                       StatusSize="PresenceBadgeSize.ExtraSmall">
                            <span>Application User</span>
                        </FluentPersona>
                        </div>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PersonClock())" Href="/membership/details">Szczegóły</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PersonMoney())" Href="/membership/fees">Składki</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PersonAvailable())" Href="/membership/recommendations">Rekomendacje</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PersonNote())" Href="/membership/card">Karta członkowska</FluentNavLink>
                    </ChildContent>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size20.Vote())" Href="/voting">Głosowania</FluentNavLink>
                <FluentNavGroup Icon="@(new Icons.Regular.Size20.Calendar())">
                    <TitleTemplate>Wydarzenia</TitleTemplate>
                    <ChildContent>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.CalendarAgenda())" Href="/events/list">Najnowsze wydarzenia</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.CalendarAdd())" Href="/events/add">Dodaj wydarzenie</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.CalendarPerson())" Href="/events/mine">Moje wydarzenia</FluentNavLink>
                    </ChildContent>
                </FluentNavGroup>
                <FluentNavGroup Icon="@(new Icons.Regular.Size20.FolderPeople())">
                    <TitleTemplate>Członkowie</TitleTemplate>
                    <ChildContent>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PeopleList())" Href="/members">Lista członków</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PeopleCommunityAdd())" Href="/applications">Wnioski członkowskie</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PeopleTeam())" Href="/groups">Grupy</FluentNavLink>
                    </ChildContent>
                </FluentNavGroup>
                <FluentNavGroup Icon="@(new Icons.Regular.Size20.Settings())">
                    <TitleTemplate>Ustawienia</TitleTemplate>
                    <ChildContent>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.PeopleSettings())">Ustawienia organizacji</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.MailSettings())">Ustawienia wiadomości</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size20.CalendarSettings())">Ustawienia wydarzeń</FluentNavLink>
                    </ChildContent>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size20.QuestionCircle())">Pomoc</FluentNavLink>
            </FluentNavMenu>
        </div>
        <FluentBodyContent Style="padding-top:10px">
            <FluentMessageBarProvider Section="MESSAGES_TOP" />
            @Body
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>
<FluentDialogProvider />
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool Expanded = false;
}
